<h1> Médico: <%= @medico.nome_completo %></h1>

<p><strong>CPF:</strong> <%= @medico.cpf %></p>
<p><strong>E-mail:</strong> <%= @medico.email %></p>
<p><strong>Especialidade:</strong> <%= @medico.especialidade %></p>
<p><strong>CRM:</strong> <%= @medico.crm %></p>

<br>

<h2>Consultas Agendadas:</h2>
<% if @medico.consultas.any? %>
  <ul>
    <% @medico.consultas.each do |consulta| %>
      <li>
        <%= consulta.paciente.nome_completo %> - <%=  consulta.data_hora.strftime("%d/%m/%Y %H:%M") %>
        <%= link_to 'Ver mais', consulta_path(consulta) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não existem consultas agendadas.</p>
<% end %>
</br>
<%= link_to 'Editar', edit_medico_path(@medico), class: 'btn btn-primary' %> |
<%= link_to 'Voltar', medicos_path, class: 'btn btn-primary' %>
