<%= form_with(model: consulta, url: consulta.persisted? ? consulta_path(consulta) : consultas_path, local: true) do |form| %>
  <% if consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consulta.errors.count, 'erro') %> impediram a consulta de ser salva:</h2>

      <ul>
        <% consulta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data_hora %>
    <%= form.datetime_local_field :data_hora %>
  </div>

  <%= form.hidden_field :paciente_id, value: params[:paciente_id] %>


  <div class="field">
    <%= form.label :medico_id %>
    <%= form.collection_select :medico_id, Medico.all, :id, :nome_completo %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
